$font-family: "Poppins", sans-serif;

$primary: #1a1364;
$blue-dark: #130b4b;
$blue-light: #170e58;
$purple: #760eec;
$grey: #888e94;
$white: #fff;
$black: #000;
$grey-light: #ddd;
$grey-dark:#666;

$section1-bg: "../assets/images/section1-bg.jpg";
$bg-left: "../assets/images/bg-left.png";
$bg-right: "../assets/images/bg-right.png";
$counter-img :"../assets/images/counter-bg.png"
