footer {
  padding-bottom: 30px !important;
  .input-group {
    width: 75%;
    .btn-primary {
      padding: 10px 5px;
      font-weight: 600;
      text-transform: none;
    }
  }
  .footer-list {
    li {
      position: relative;
      margin: 7px 0;
      a {
        font-weight: 400;
        padding-left: 20px;
        &::after {
          position: absolute;
          content: "";
          right: auto;
          top: 12px;
          width: 5px;
          height: 5px;
          background: #ddd;
          left: 0;
        }
      }
    }
  }
  .info-link {
    color: $purple;
  }
  .footer-icons {
    a {
      background-color: $purple;
      padding: 5px 10px;
      margin-right: 10px;
      &:hover {
        background-color: $white;
      }
    }
  }
}
