header {
  position: absolute;
  width: 100%;
  nav {
    .nav-link {
      padding: 40px 15px;
      text-transform: capitalize;
      &:hover {
        text-decoration: underline !important;
        -webkit-text-underline-position: under;
        -ms-text-underline-position: below;
        text-underline-position: under;
      }
    }
  }
}
