.section8 {
  position: relative;
  z-index: 1;
  @include bg-img-fixed($bg-left, center, cover, no-repeat, fixed);
  .card {
    .rates {
      font-size: 40px;
      font-weight: 600;
      span {
        color: #760eec;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
      }
    }
    .price-details {
      margin-top: 80px;
    }
  }
}
