.section6 {
  position: relative;
  @include bg-img-counter($counter-img, center, cover, no-repeat, fixed);
  border: 1px solid $grey-dark;
  .counter-info {
    border-right: 1px solid $grey-dark;
    border-left: 1px solid $grey-dark;
    padding: 110px 0px;
    .counter {
      font-size: 50px;
      padding-bottom: 10px;
      line-height: 50px;
      font-weight: 700;
    }
    h3 {
      font-size: 17px;
      text-transform: capitalize;
    }
  }
}
